.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 1px;
}

.btn{
	background-color: blue;
}

footer{
	padding: 10px 10px 0 10px; 
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px !important; 
}

.footer-address-icon{
	padding-right: 5px;
}

.tab-content{
	padding-top: 10px;
}

.btn-link {
	background-color: rgba(0,0,0,.03);
}

.newsletter-margins{
	margin-top: 30px;
	padding: 20px;
}